
.blog__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7.29vw 0;
  font-family: Manrope;
}
.blog__footer_btn {
  width: 13.02vw;
  height: 13.02vw;
  border: transparent;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.35vw;
  line-height: 1.35vw;
  font-weight: 500;
  letter-spacing: -0.04px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3e%3ccircle cx='50' cy='50' r='45' fill='none' stroke='%23fff' stroke-width='1' stroke-dasharray='235 75' stroke-dashoffset='-70' stroke-linecap='round'/%3e%3c/svg%3e");
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
}

.blog__footer_btn:hover {
  animation: draw-line 2s forwards ease-in-out;
}

@keyframes draw-line {
  from {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3e%3ccircle cx='50' cy='50' r='45' fill='none' stroke='%23fff' stroke-width='1' stroke-dasharray='235 75' stroke-dashoffset='-70' stroke-linecap='round'/%3e%3c/svg%3e");
  }
  to {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3e%3ccircle cx='50' cy='50' r='45' fill='none' stroke='%23fff' stroke-width='1' stroke-dasharray='310 0' stroke-dashoffset='-70' stroke-linecap='round'/%3e%3c/svg%3e");
  }
}


@media (width <= 900px) {
  .blog__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16vw 0;
  }

  .blog__footer_btn {
    width: 50.7vw;
    height: 50.7vw;
    border-radius: 50%;
    border: transparent;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 5.3vw;
    line-height: 5.3vw;
    font-weight: 500;
    letter-spacing: -0.0107vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
