
.button-arrow {
  display: flex;
  gap: 0.208vw;
  height: 3.177vw;
  overflow: hidden;
  width: fit-content;

  .button-content {
    border-radius: 0.104vw;
    border: 0.052vw solid #FFF;
    padding: 0vw 2.24vw;
    height: 100%;
    transition: .3s;

    span {
      display: none;
    }

    p {
      color: #FFF;
      font-family: Manrope;
      font-size: 0.938vw;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.037vw;
      text-transform: uppercase;
      margin-top: 0.885vw;
      transition: 0.3s;
    }
  }

  .button-side {
    border-radius: 0.104vw;
    border: 0.052vw solid #FFF;
    background: #FFF;
    position: relative;
    width: 3.177vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    &:after {
      content: "";
      width: 0.99vw;
      height: 0.99vw;
      top: 1.042vw;
      left: 1.094vw;
      position: absolute;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 17.5L16.5 3.5M16.5 3.5L16.5 17.5M16.5 3.5L2.5 3.5' stroke='black' stroke-width='2'/%3E%3Crect x='0.374023' y='2.4939' width='2.92454' height='2.92454' transform='rotate(-45 0.374023 2.4939)' fill='white'/%3E%3Crect x='15.4404' y='17.5625' width='2.92454' height='2.92454' transform='rotate(-45 15.4404 17.5625)' fill='white'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transition: .3s ease-in-out;
    }
  }

  &:hover {
    .button-content {
      background: white;

      p {
        color: black;
      }
    }

    .button-side:after {
      transform: rotate(45deg);
    }
  }
}

.button {
  color: #FFF;
  font-family: Manrope;
  font-size: 1.042vw;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: -0.042vw;
  padding-bottom: 0.208vw;
  position: relative;
  display: block;
  height: fit-content;
  width: fit-content;
  text-transform: uppercase;

  &:not(.no-underline):hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(0, 1, 1);
  }

  &:not(.no-underline)::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.078vw;
    bottom: 0;
    right: 0;
    pointer-events: none;
    transform-origin: 100% 50%;
    transform: scale3d(1, 1, 1);
    transition: transform 0.3s;
    background: white;
  }
}

.text-16 {
  color: #808080;
  font-family: Manrope;
  font-size: 0.833vw;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: -0.025vw;
}

.text-20 {
  color: #FFF;
  font-family: Manrope;
  font-size: 1.042vw;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 1.042vw */
  letter-spacing: -0.042vw;
  text-transform: uppercase;
  display: block;
}

[fillable-text] {
  & > div {
    background: linear-gradient(
                    to right,
                    rgb(255, 255, 255) 50%,
                    rgb(37, 37, 37) 50%
    );
    background-size: 200% 100%;
    background-position-x: 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    /*   margin-bottom: -13.021vw; */
  }
}

.d-mob {
  display: none;
}

@media (width <= 900px) {
  .d-mob {
    display: block;
  }

  .button-arrow {
    display: flex;
    gap: 1.067vw;
    height: 16.267vw;
    overflow: hidden;
    width: 100%;

    .button-content {
      border-radius: 0.533vw;
      border: 0.267vw solid #FFF;
      padding: 0vw 2.24vw;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;

      span {
        display: none;
      }

      p {
        color: #FFF;
        font-family: Manrope;
        font-size: 4.8vw;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.192vw;
        text-transform: uppercase;
        margin-top: 4.8vw;
      }
    }

    .button-side {
      border-radius: 0.533vw;
      border: 0.267vw solid #FFF;
      background: #FFF;
      position: relative;
      width: 16.267vw;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      flex-shrink: 0;

      &:after {
        content: "";
        width: 5.067vw;
        height: 5.067vw;
        top: 5.333vw;
        left: 5.6vw;
      }
    }
  }

  .text-16 {
    color: #808080;
    font-family: Manrope;
    font-size: 3.733vw;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 4.667vw */
    letter-spacing: -0.112vw;
  }

  .button {
    color: #FFF;
    font-family: Manrope;
    font-size: 4.8vw;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.288vw;
    text-transform: uppercase;

    &:not(.no-underline)::before {
      height: 0.4vw;
    }
  }

  .text-20 {
    color: #FFF;
    text-align: center;
    font-family: Manrope;
    font-size: 4.8vw;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 4.8vw */
    letter-spacing: -0.192vw;
    text-transform: uppercase;
    display: block;
  }

  [fillable-text] {
    & > div {
      background: linear-gradient(
                      to right,
                      rgb(255, 255, 255) 50%,
                      rgb(37, 37, 37) 50%
      );
      background-size: 200% 100%;
      background-position-x: 100%;
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
    }
  }
}
