
header {
  left: 0;
  top: 0;
  top: 1.302vw;
  z-index: 5;
  padding: 1.302vw 0;
  position: absolute;

  .wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .header_logo {
    width: 2.344vw;
    height: 2.656vw;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.header_desktop-nav {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 3.646vw;
  overflow: hidden;
}

.header_mobile-nav,
.header_menu-opener{
  display: none;
}

.header_language-selector-mobile{
  display: none;
}

.header_nav-link {
  color: #FFF;
  font-family: Manrope;
  font-size: 0.833vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.033vw;
  text-transform: uppercase;
  position: relative;

  &:hover::before {
    transform-origin: 100% 50%;
    transform: scale3d(1, 1, 1);
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.052vw;
    bottom: 0;
    right: 0;
    pointer-events: none;
    transform-origin: 0% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
    background: white;
  }
}

@media (width <= 900px) {
  header {
    top: 9.333vw;
    padding: 0 0;

    .header_logo {
      width: 9.867vw;
      height: 11.2vw;
    }

    nav {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      gap: 3.646vw;
      overflow: hidden;
    }
  }

  .header_desktop-nav,
  .header_language-selector-desktop{
    display: none;
  }

  .header_menu-opener{
    display: flex;
    gap: 1.143vw;
    align-items: center;
    color: #FFF;
    font-family: Manrope;
    font-size: 5.143vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.206vw;
    text-transform: uppercase;
    background: 0;
    border: 0;
    position: relative;

    &:after{
      content: "";
      width: 3.714vw;
      height: 3.714vw;
      position: relative;
      background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4983 7.70015C11.8328 7.03451 11.8328 5.96546 12.4983 5.29983C13.1638 4.6342 13.1638 3.56517 12.4983 2.89954L10.0985 0.499224C9.43299 -0.166408 8.36415 -0.166408 7.69864 0.499224C7.03314 1.16486 5.96432 1.16486 5.29881 0.499224C4.63331 -0.166408 3.56447 -0.166408 2.89897 0.499224L0.499126 2.89954C-0.166375 3.56517 -0.166375 4.6342 0.499126 5.29983C1.16463 5.96546 1.16463 7.03451 0.499126 7.70015C-0.166375 8.36578 -0.166375 9.43483 0.499126 10.1005L2.89897 12.5008C3.56447 13.1664 4.63331 13.1664 5.29881 12.5008C5.96432 11.8351 7.03314 11.8351 7.69864 12.5008C8.36415 13.1664 9.43299 13.1664 10.0985 12.5008L12.5185 10.1005C13.1638 9.455 13.1638 8.36578 12.4983 7.70015ZM3.14097 9.85842C1.28564 8.00272 1.28564 4.99727 3.14097 3.16174C4.99631 1.32621 8.00115 1.30604 9.83632 3.16174C11.6917 5.01745 11.6917 8.02289 9.83632 9.85842C8.00115 11.694 4.99631 11.694 3.14097 9.85842Z' fill='white'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;
      transform: rotate(45deg);
      transition: transform .3s;
    }

    &.is-active{
      &:after{
        transform: rotate(0deg);
      }
    }
  }

  .header_nav-link {
    color: #FFF;
    font-family: Manrope;
    font-size: 4.8vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.192vw;
    text-transform: uppercase;

    &::before {
      display: none;
    }
  }

  .header_desktop-nav{
    display: none;
  }

  .header_mobile-nav{
    display: block;
    position: absolute;
    top: 100%;
    right: -100%;
    width: 100%;
    height: calc(100dvh - 20vw);
    background: black;
    padding: 3.429vw;
    z-index: 99;

    display: flex;
    flex-direction: column;
    align-items: center;

    ul{
      width: 100%;

      li {
        overflow-y: hidden;
        display: flex;
        justify-content: space-between;
        padding: 4.286vw 0;
        text-align: right;
        border-bottom: 0.286vw solid #202020;
      }

      span{
        color: #202020;
        font-family: Manrope;
        font-size: 4vw;
        font-style: normal;
        font-weight: 400;
        line-height:4vw;
        letter-spacing: -0.2vw;
        text-transform: uppercase;
        display: block;
      }

      a {
        color: #FFF;
        font-family: Manrope;
        font-size: 13.714vw;
        font-style: normal;
        font-weight: 400;
        line-height: 13.714vw;
        letter-spacing: -0.686vw;
        text-transform: uppercase;
        display: block;
      }
    }
  }
  
  .header_language-selector-mobile{
    display: block;
    padding-top: 8vw;
    padding-bottom: 8vw;
    margin-top: auto;
    
    button{
      color: #202020;
      font-family: Manrope;
      font-size: 5.333vw;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.213vw;
      text-transform: uppercase;
      background: 0;
      border: 0;
      padding: 1.6vw;
      
      &.selected{
        color: white;
      }
    }
  }
}