.presentation {
  display: flex;
  flex-direction: column;
  gap: 4.167vw;
  padding: 7.292vw 0;

  .presentation-header {
    display: flex;
    gap: 2.083vw;
    justify-content: space-between;
  }

  .presentation-text {
    color: #404040;
    font-family: Manrope;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 500;
    line-height: 105%;
    letter-spacing: -0.125vw;
    text-transform: uppercase;
    width: 44.688vw;
  }

  .presentation-decoration {
    position: relative;
    width: 4.167vw;
    height: 4.167vw;


    .arrow {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 0.781vw;
      height: 0.781vw;
    }

    .circle {
      width: 100%;
      height: auto;
      animation: rotate360 20s linear infinite;
    }

    @keyframes rotate360 {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  .presentation_video {
    width: 100%;
    height: auto;
  }
}

@media (width <= 900px) {
  .presentation {
    gap: 5.333vw;
    padding: 13.333vw 0;

    .presentation-header {
      gap: 6.4vw;
      justify-content: space-between;
    }

    .presentation-text {
      color: #404040;
      font-family: Manrope;
      font-size: 8.533vw;
      font-style: normal;
      font-weight: 500;
      line-height: 105%;
      letter-spacing: -0.427vw;
      text-transform: uppercase;
      width: 100%;
    }

    .presentation-decoration {
      display: none;
    }

    .presentation_video {
      width: 100%;
      height: auto;
    }
  }
}