@font-face {
  font-family: Gallient;
  src: url("./fonts/Gallient.woff") format("woff");
  font-weight: 400;
}
body {
  background: #000000;
}

.wrapper {
  width: 1920px;
  margin: 0 auto;
  padding: 0 50px;
}

header {
  position: absolute;
  left: 0;
  top: 25px;
  z-index: 5;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}
header .header_logo {
  width: 45px;
  height: 51px;
}
header nav {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 70px;
  overflow: hidden;
}

.header_nav-link {
  color: #FFF;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.64px;
  text-transform: uppercase;
}

.hero {
  padding-top: 160px;
  padding-bottom: 140px;
  height: calc(100vh + 90px);
}
.hero .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.hero_title {
  color: #FFF;
  font-family: Manrope;
  font-size: 128px;
  font-style: normal;
  font-weight: 500;
  line-height: 96%;
  letter-spacing: -7.68px;
  text-transform: uppercase;
  text-align: center;
  transform-style: preserve-3d;
}
.hero_title .gallient {
  font-family: Gallient;
  font-size: 114px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -1.68px;
  margin-right: 18px;
  transform-style: preserve-3d;
}

.hero_title,
.hero_title .gallient {
  perspective: 1250px;
}

.hero-bottom {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  width: 100%;
}
.hero-bottom .button-arrow {
  margin-top: 24px;
  height: 0;
}

.hero-bottom_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-bottom_title {
  color: #FFF;
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -1.12px;
  text-transform: uppercase;
}

.hero-bottom_subtitle {
  width: 460px;
  color: #707070;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.72px;
}

.button-arrow {
  display: flex;
  gap: 4px;
  height: 61px;
  overflow: hidden;
}
.button-arrow .button-content {
  border-radius: 2px;
  border: 1px solid #FFF;
  padding: 0px 43px;
  height: 100%;
}
.button-arrow .button-content span {
  display: none;
}
.button-arrow .button-content p {
  color: #FFF;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin-top: 17px;
}
.button-arrow .button-side {
  border-radius: 2px;
  border: 1px solid #FFF;
  background: #FFF;
  position: relative;
  width: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.button-arrow .button-side:after {
  content: "";
  width: 19px;
  height: 19px;
  top: 20px;
  left: 21px;
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 17.5L16.5 3.5M16.5 3.5L16.5 17.5M16.5 3.5L2.5 3.5' stroke='black' stroke-width='2'/%3E%3Crect x='0.374023' y='2.4939' width='2.92454' height='2.92454' transform='rotate(-45 0.374023 2.4939)' fill='white'/%3E%3Crect x='15.4404' y='17.5625' width='2.92454' height='2.92454' transform='rotate(-45 15.4404 17.5625)' fill='white'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s ease-in-out;
}
.button-arrow:hover .button-content {
  background: white;
}
.button-arrow:hover .button-content p {
  color: black;
}
.button-arrow:hover .button-side:after {
  transform: rotate(45deg);
}

.advantages {
  padding: 140px 0;
}
.advantages .wrapper {
  padding: 0;
  width: 1514px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 400px;
}

.advantages-card {
  width: 440px;
  min-height: 440px;
  background: #0E0E0E;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
  position: relative;
}
.advantages-card:nth-child(even) {
  margin-left: auto;
}
.advantages-card:nth-child(odd) {
  margin-right: auto;
}
.advantages-card:after {
  content: "";
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 25px;
  height: 25px;
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5814 7.79056L21.3953 3.37196L25 9.7673L18.2558 12.558L25 15.6975L21.2791 21.9766L15.4651 17.4417L16.2791 24.9999H8.72093L9.53488 17.4417L3.72093 21.9766L0 15.6975L6.62791 12.558L0 9.7673L3.60465 3.37196L9.4186 7.79056L8.72093 0.232422H16.2791L15.5814 7.79056Z' fill='white'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
}
.advantages-card:nth-child(1) .advantages-card_text {
  max-width: 249px;
}
.advantages-card:nth-child(2) .advantages-card_text {
  max-width: 321px;
}
.advantages-card:nth-child(3) .advantages-card_text {
  max-width: 299px;
}
.advantages-card:nth-child(4) .advantages-card_text {
  max-width: 303px;
}

.advantages-card_title {
  color: #FFF;
  font-family: Manrope;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 36px */
  letter-spacing: -1.8px;
  text-transform: uppercase;
}

.advantages-card_text {
  color: #808080;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: -0.48px;
  padding-left: 40px;
  margin-left: auto;
}

.presentation {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 140px 0;
}
.presentation .presentation-header {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.presentation .presentation-text {
  color: #404040;
  font-family: Manrope;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 105%;
  letter-spacing: -2.4px;
  text-transform: uppercase;
  width: 858px;
}
.presentation .presentation-decoration {
  position: relative;
  width: 80px;
  height: 80px;
}
.presentation .presentation-decoration .arrow {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
}
.presentation .presentation-decoration .circle {
  width: 100%;
  height: auto;
  animation: rotate360 20s linear infinite;
}
@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.presentation .presentation_video {
  width: 100%;
  height: auto;
}

.cta {
  padding: 140px 0;
}
.cta .wrapper {
  display: grid;
  grid-template-columns: 460px 1fr;
}
.cta .cta_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.cta .cta_left p {
  max-width: 155px;
  color: #404040;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: -0.64px;
}
.cta .cta_right {
  display: flex;
  flex-direction: column;
  gap: 120px;
}
.cta .cta-header {
  color: #FFF;
  font-family: Manrope;
  font-size: 142px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 142px */
  letter-spacing: -7.1px;
  text-transform: uppercase;
}
.cta .cta-header span {
  font-family: Gallient;
  font-size: 127px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -2.54px;
  text-transform: uppercase;
}
.cta .cta-content {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.cta .cta-description {
  color: #404040;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 24px */
  letter-spacing: -0.8px;
  width: 440px;
}
.cta .cta-description a {
  color: white;
}
.cta .cta-description a:hover {
  color: #404040;
}

[fillable-text] > div {
  background: linear-gradient(to right, rgb(255, 255, 255) 50%, rgb(37, 37, 37) 50%);
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  /*   margin-bottom: -250px; */
}

* {
  box-sizing: border-box;
}

html {
  font-family: Manrope;
  background-color: #000000;
}

.contacts {
  display: flex;
  flex-direction: column;
}
.contacts__input {
  width: 93.6vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  order: 1;
}
.contacts__input_title {
  margin: 0;
  margin-top: 31.2vw;
  font-weight: 500;
  font-size: 15.47vw;
  text-transform: uppercase;
  line-height: 13.92vw;
  color: #FFFFFF;
  letter-spacing: -0.1vw;
}
.contacts__input-form {
  display: flex;
  width: 93.6vw;
  flex-direction: column;
  margin: auto;
  margin-top: 10.67vw;
}
.contacts__input-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1.33vw;
  height: 17.86vw;
  background-color: transparent;
  border: none;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 4.8vw;
  line-height: 6.56vw;
  letter-spacing: -0.1vw;
  color: #FFFFFF;
  order: 1;
}
.contacts__input-btn-arrow {
  margin-left: 2.67vw;
}
.contacts__information {
  display: flex;
  flex-direction: column;
  width: 93.6vw;
  margin: auto;
  margin-top: 24vw;
  order: 2;
}
.contacts__information-text {
  order: 1;
}
.contacts__information_block {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 500;
  font-size: 5.3vw;
  line-height: 5.3vw;
  letter-spacing: -0.1vw;
  text-transform: uppercase;
  margin-bottom: 9.3vw;
}
.contacts__information_block:first-child {
  width: 64vw;
}
.contacts__information_block-name {
  color: #404040;
  width: 26.93vw;
}
.contacts__information_block-description {
  color: #FFFFFF;
}
.contacts__information_block-media {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: 4vw;
}
.contacts__information_block-media-icon {
  width: 24vw;
  height: 24vw;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts__information_block-media-icon-img {
  width: 6.7vw;
  height: 6.7vw;
}

label {
  font-weight: 500;
  font-size: 3.47vw;
  line-height: 4.736vw;
  color: #FFFFFF;
  margin-bottom: 4vw;
  letter-spacing: -0.1vw;
}

input[type=text], input[type=email] {
  width: 100%;
  font-size: 4.8vw;
  font-weight: 500;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #404040;
  color: #404040;
  outline: none;
  margin-bottom: 5.33vw;
  padding-bottom: 1.6vw;
  letter-spacing: -0.1vw;
}

.message-container {
  position: relative;
}
.message-container input {
  padding-bottom: 14.7vw;
}

.optional-label {
  position: absolute;
  right: 0;
  top: 10.67vw;
  height: 7.46vw;
  border: 1px solid #404040;
  padding: 1.6vw 3.2vw;
  border-radius: 3.47vw;
  font-size: 3.2vw;
  letter-spacing: -0.1vw;
  color: #404040;
}

.checkbox {
  display: flex;
  align-items: center;
  height: 5.86vw;
  margin-top: 6.67vw;
  order: 2;
}
.checkbox input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 3.73vw;
  height: 3.73vw;
  border: 2px solid white;
  border-radius: 1px;
  outline: none;
  cursor: pointer;
  margin-right: 2.13vw;
  position: relative;
}
.checkbox input[type=checkbox]:checked::before {
  content: "";
  width: 2.13vw;
  height: 2.13vw;
  background-color: white;
  border-radius: 1px;
  position: absolute;
  top: 0.406vw;
  left: 0.4vw;
}
.checkbox input[type=checkbox] label {
  font-weight: 500;
  letter-spacing: -0.1vw;
  font-size: 4.27vw;
  line-height: 5.83vw;
  margin: 0;
}

.icon {
  order: 2;
}

@media screen and (min-width: 900px) {
  .contacts {
    flex-direction: row;
  }
  .contacts__information {
    width: 25.31vw;
    order: 1;
    margin: 25.83vw 14.63vw 17.34vw 2.6vw;
  }
  .contacts__information-text {
    order: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .contacts__information_block {
    margin-right: 1.3vw;
    margin-bottom: 1.82vw;
    font-size: 1.04vw;
    line-height: 1.04vw;
    letter-spacing: -0.02vw;
  }
  .contacts__information_block:first-child {
    width: 11.7vw;
    margin-bottom: 2.08vw;
  }
  .contacts__information_block-name {
    width: 5.26vw;
  }
  .contacts__information_block-media {
    margin-bottom: 1.82vw;
    margin-top: 0.78vw;
  }
  .contacts__information_block-media-icon {
    width: 4.68vw;
    height: 4.68vw;
  }
  .contacts__information_block-media-icon-img {
    width: 1.3vw;
    height: 1.3vw;
  }
  .contacts__input {
    order: 2;
    width: 54.84vw;
    margin: 9.17vw 2.6vw 2.6vw 0;
  }
  .contacts__input_title {
    font-size: 6.6vw;
    margin-top: 0;
    text-transform: uppercase;
    line-height: 6vw;
    letter-spacing: -0.02vw;
  }
  .contacts__input-form {
    width: 54.84vw;
    margin: 0;
    margin-top: 4.69vw;
  }
  .contacts__input-block {
    display: flex;
  }
  .contacts__input-btn {
    order: 2;
    width: 13.02vw;
    margin-top: 2.6vw;
    height: 3.49vw;
    margin-left: 30vw;
    font-size: 0.9375vw;
    line-height: 1.28vw;
    letter-spacing: -0.02vw;
  }
  .contacts__input-btn-arrow {
    margin-left: 0.52vw;
  }
  .icon {
    order: 1;
  }
  label {
    font-size: 0.78vw;
    line-height: 1.07vw;
    margin-bottom: 0.83vw;
    letter-spacing: -0.02vw;
  }
  input[type=text], input[type=email] {
    font-size: 1.04vw;
    margin-bottom: 2.19vw;
    padding-bottom: 0.52vw;
    letter-spacing: -0.02vw;
  }
  .message-container input {
    height: 7.91vw;
    padding-bottom: 6.46vw;
  }
  .optional-label {
    top: 5.625vw;
    height: 1.77vw;
    padding: 0.3125vw 0.625vw;
    border-radius: 0.78125vw;
    font-size: 0.83vw;
    letter-spacing: -0.02vw;
  }
  input[id=message] {
    margin-bottom: 0;
  }
  .checkbox {
    order: 1;
    margin-top: 4.17vw;
    height: 1.15vw;
  }
  .checkbox input[type=checkbox] {
    width: 0.9375vw;
    height: 0.9375vw;
    margin-right: 0.52vw;
    border-radius: 0.05vw;
  }
  .checkbox input[type=checkbox]:checked::before {
    width: 0.52vw;
    height: 0.52vw;
    border-radius: 0.05vw;
    top: 0.1vw;
    left: 0.13vw;
  }
  .checkbox label {
    font-size: 0.99vw;
    line-height: 1.42vw;
    letter-spacing: -0.02vw;
  }
}/*# sourceMappingURL=main.css.map */
