<head>
  <meta charset="UTF-8">
  <title>@@pageName</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/main.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap" rel="stylesheet">
  <script src="../js/header.js"></script>
  

  @@if(additionalLinks){
  @@for (var i = 0; i < additionalLinks.length; i++) {
   `+additionalLinks[i]+`
  }
  }
</head>
