<header>
  <div class="wrapper">
    <a href="./index.html" class="header_logo">
      <img src="./img/logo.png" alt="logo">
    </a>

    <nav class="header_desktop-nav">
      <a href="history.html" class="header_nav-link">
        HISTORY
      </a>
      <a href="technology.html" class="header_nav-link">
        TECHNOLOGY
      </a>
      <a href="blog.html" class="header_nav-link">
        BLOG
      </a>
      <a href="contacts.html" class="header_nav-link">
        CONTACTS
      </a>
    </nav>

    <div class="header_mobile-nav">
      <ul>
        <li>
          <span>(01)</span>
          <a href="index.html" class="header_nav-link">
            HOME
          </a>
        </li>
        <li>
          <span>(02)</span>
          <a href="history.html" class="header_nav-link">
            HISTORY
          </a>
        </li>
        <li>
          <span>(03)</span>
          <a href="technology.html" class="header_nav-link">
            TECHNOLOGY
          </a>
        </li>
        <li>
          <span>(04)</span>
          <a href="blog.html" class="header_nav-link">
            BLOG
          </a>
        </li>
        <li>
          <span>(05)</span>
          <a href="contacts.html" class="header_nav-link">
            CONTACTS
          </a>
        </li>
      </ul>

      <div class="header_language-selector-mobile">
        <button>EN</button>
        <button>UA</button>
      </div>
    </div>

    <div class="header_language-selector-desktop"></div>

    <button class="header_menu-opener">
      menu
    </button>
  </div>
</header>

