.article__image {
  width: 100vw;
  margin-top: 7.81vw;
}
@media (width <= 900px) {
  .article__image {
    display: flex;
    width: 93.6vw;
    height: 80vw;
    object-fit: cover;
    overflow: hidden;
    margin: 24vw auto 9.33vw auto;
  }
}
