.article__type-one {
  padding-top: 7.81vw;
  padding-bottom: 7.81vw;
  display: flex;
  flex-direction: column;
  gap: 7.81vw;
  font-family: Manrope;
}
.article__type-one ~ .article__type-one {
  margin: auto;
  width: 94.79vw;
  border-top: 0.052vw solid #202020;
}
.article__type-one-line {
  width: 94.79vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  color: #fff;
  justify-content: space-between;
}
.article__type-one-description {
  margin: 0;
  width: 47.4vw;
  font-size: 0.94vw;
  line-height: 1.13vw;
  letter-spacing: -0.001vw;
}

.article__type-one-title {
  margin: 0;
  width: 19.79vw;
  font-weight: 500;
  font-size: 1.88vw;
  line-height: 1.88vw;
  letter-spacing: -0.002vw;
  text-transform: uppercase;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;

  display: flex;
  align-items: baseline;
}
.article__type-one-block {
  width: 21.5vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.article__type-one-block .circle {
  //content: '';
  min-width: 1.14vw;
  min-height: 1.14vw;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transform: translateY(-0.1vw);
  margin-right: 0.52vw;
}

@media (width <= 900px) {
  .article__type-one {
    gap: 9.33vw;
  }
  .article__type-one::after {
    width: 93.6vw;
    height: 0.27vw;
  }
  .article__type-one-line {
    width: 93.6vw;
    display: flex;
    flex-direction: column;
    gap: 5.33vw;
  }
  .article__type-one-block{
    width: 100%;
  }

  .article__type-one-title {
    width: 100%;
    font-size: 6.4vw;
    line-height: 6.4vw;
    letter-spacing: -0.01vw;

  }
  .article__type-one-block .circle {
    width: 4.533vw;
    height: 4.533vw;
    margin-right: 2.13vw;
    margin-top: 0.933vw;
  }
  .article__type-one-description {
    width: 93.6vw;
    font-size: 4.27vw;
    line-height: 5.55vw;
    letter-spacing: -0.005vw;
  }
}
