#plate {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  max-height: 100vh;
  width: 38.125vw;
  height: 29.531vw;
  z-index: -1;
}


@media (width <= 900px) {
  #plate {
    //position: absolute;
    //left: 50%;
    //top: 6%;
    transform: translate(-50%, -50%);
    width: 86.4vw;
    height: auto;
  }
}
