.partners {
  padding-bottom: 7.292vw;
  overflow: hidden;

  h2 {
    color: #FFF;
    font-family: Manrope;
    font-size: 9.635vw;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.482vw;
    text-transform: uppercase;

    .galient {
      color: #FFF;
      font-family: Gallient;
      font-size: 8.594vw;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: -0.172vw;
      text-transform: uppercase;
    }
  }

  .partners_runline {
    margin-top: -4.844vw;
    display: flex;
    flex-direction: row;
  }

  @keyframes runlineScroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%); /* Прокрутка на половину ширини обгортки */
    }
  }

  .partners_runline-item {
    display: flex;
    gap: 1.042vw;
  }

  .partners_card {
    width: 28.646vw;
    height: 28.646vw;
    flex-shrink: 0;
    border-radius: 50%;
    border: 0vw solid #141414;
    background: rgba(14, 14, 14, 0.50);
    backdrop-filter: blur(0.521vw);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 18.229vw;
      height: 18.229vw;
    }
  }
}

@media (width <= 900px) {
  .partners {
    padding: 13.333vw 0;

    h2 {
      color: #FFF;
      font-family: Manrope;
      font-size: 17.6vw;
      font-style: normal;
      font-weight: 500;
      line-height: 100%; /* 17.6vw */
      letter-spacing: -0.88vw;
      text-transform: uppercase;

      .galient {
        color: #FFF;
        font-family: Gallient;
        font-size: 15.733vw;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: -0.315vw;
        text-transform: uppercase;
      }
    }

    .partners_runline {
      margin-top: 2.667vw;
      align-items: center;
      justify-content: center;
    }
    .ticker{
      &__instance{
        animation: none;
      }
      &__clone{
        display: none;
      }
    }
    .partners_runline-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0vw;
    }

    .partners_card {
      width: 58.667vw;
      height: 58.667vw;
      flex-shrink: 0;

      &:not(:first-child) {
        margin-top: -16vw;
      }

      img {
        width: 37.333vw;
        height: 37.333vw;
      }
    }
  }
}
