#video-popup-container {
  display: none;
  position: fixed;
  z-index: 996;
  width: 60%;
  left: 50%;
  top: 20%;
  margin-left: -30%;
  background-color: #fff;
}

#video-popup-close {
  cursor: pointer;
  position: absolute;
  right: -0.521vw;
  top: -0.521vw;
  z-index: 998;
  width: 2.604vw;
  height: 2.604vw;
  border-radius: 1.302vw;
  font-size: 1.146vw;
  background-color: #000;
  line-height: 1.302vw;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#video-popup-iframe-container {
  position: absolute;
  z-index: 997;
  width: 100%;
  padding-bottom: 56.25%;
  border: 0.104vw solid #000;
  border-radius: 0.104vw;
  background-color: #000;
}

#video-popup-iframe {
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #000;
}

#video-popup-overlay {
  display: none;
  position: fixed;
  z-index: 995;
  top: 0;
  background-color: #000;
  opacity: 0.8;
  width: 100%;
  height: 100%;
}

#video-popup-close:hover {
  border-color: white;
}

@media (width <= 900px) {
  #video-popup-container {
    display: none;
    position: fixed;
    z-index: 996;
    width: 90%;
    left: 50%;
    top: 20%;
    margin-left: 0;
    transform: translateX(-50%);
    background-color: #fff;
  }

  #video-popup-close {
    cursor: pointer;
    position: absolute;
    right: -0.521vw;
    top: -0.521vw;
    z-index: 998;
    width: 6.667vw;
    height: 6.667vw;
    border-radius: 5.333vw;
    font-size: 4.146vw;
    background-color: #000;
    line-height: 1.302vw;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #video-popup-iframe-container {
    position: absolute;
    z-index: 997;
    width: 100%;
    padding-bottom: 121.25%;
    border: 0.104vw solid #000;
    border-radius: 0.104vw;
    background-color: #000;
  }

  #video-popup-iframe {
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #000;
  }

  #video-popup-overlay {
    display: none;
    position: fixed;
    z-index: 995;
    top: 0;
    background-color: #000;
    opacity: 0.8;
    width: 100%;
    height: 100%;
  }

  #video-popup-close:hover {
    border-color: white;
  }
}
