.cta {
  padding: 7.292vw 0;

  .wrapper {
    display: grid;
    grid-template-columns: 22.9vw 1fr;
  }

  .cta_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    p {
      max-width: 8.073vw;
    }
  }

  .cta_right {
    display: flex;
    flex-direction: column;
    gap: 6.25vw;
  }

  .cta-header {
    color: #FFF;
    font-family: Manrope;
    font-size: 7.396vw;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 7.396vw */
    letter-spacing: -0.37vw;
    text-transform: uppercase;

    span {
      font-family: Gallient;
      font-size: 6.615vw;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: -0.132vw;
      text-transform: uppercase;
    }
  }

  .cta-content {
    display: flex;
    flex-direction: column;
    gap: 1.823vw;
  }

  .cta-description {
    color: #404040;
    font-family: Manrope;
    font-size: 1.042vw;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 1.25vw */
    letter-spacing: -0.042vw;
    width: 22.917vw;

    a {
      color: white;
      transition: .3s;

      &:hover {
        color: #404040;
      }
    }
  }
}

.rotation-word_container {
  --height: 6.25vw; //120
  height: var(--height);
  overflow: hidden;
  display: inline-block;

  .rotating-words {
    animation: scroll 18s infinite;
    transition: transform 500ms;
  }

  span {
    display: block;
    height: var(--height);
    line-height: 1
  }

  @keyframes scroll {
    0% {
      transform: translateY(calc(var(--height) * 0))
    }
    10%{transform: translateY(calc(var(--height) * 0))}
    20% {
      transform: translateY(calc(var(--height) * -1))
    }
    30%{transform: translateY(calc(var(--height) * -1))}
    40% {
      transform: translateY(calc(var(--height) * -2))
    }
    50%{transform: translateY(calc(var(--height) * -2))}
    60% {
      transform: translateY(calc(var(--height) * -3))
    }
    70%{transform: translateY(calc(var(--height) * -3))}
    80% {
      transform: translateY(calc(var(--height) * -4))
    }
    90%{transform: translateY(calc(var(--height) * -4))}
    100% {
      transform: translateY(calc(var(--height) * -5))
    }
  }
}


@media (width <= 900px) {
  .cta {
    padding: 13.333vw 0;

    .wrapper {
      display: flex;
      flex-direction: column-reverse;
      gap: 50.667vw;
    }

    .cta_left {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      height: 100%;

      p {
        max-width: 48vw;
      }
    }

    .cta_right {
      gap: 13.333vw;
    }

    .cta-header {
      color: #FFF;
      font-family: Manrope;
      font-size: 17.6vw;
      font-style: normal;
      font-weight: 500;
      line-height: 90%; /* 15.84vw */
      letter-spacing: -0.704vw;
      text-transform: uppercase;

      span {
        font-family: Gallient;
        font-size: 15.733vw;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 15.733vw */
        letter-spacing: -0.315vw;
        text-transform: uppercase;
      }
    }

    .cta-content {
      display: flex;
      flex-direction: column;
      gap: 6.667vw;
    }

    .cta-description {
      color: #404040;
      font-family: Manrope;
      font-size: 5.333vw;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 6.4vw */
      letter-spacing: -0.213vw;
      width: 100%;
    }
  }

  .rotation-word_container {
    --height: 15.733vw;
  }
}
