.get-closer {
  padding: 7.292vw 0;

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 8.333vw;

    h2 {
      color: #FFF;
      font-family: Manrope;
      font-size: 3.333vw;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: -0.167vw;
      text-transform: uppercase;
      width: 54.896vw;
    }
  }

  .get-closer_content {
    width: 100%;
    display: flex;
    gap: 3.333vw;
    justify-content: space-between;
    align-items: flex-end;

    p {
      width: 19.792vw;
    }
  }

  .get-closer_video-container {
    height: 29.167vw;
    width: 22.917vw;
    overflow: hidden;

    .get-closer_video-wrapper {
      height: 29.167vw;
      width: 22.917vw;
      position: relative;
    }

    .get-closer_video-preview {
      width: 100%;
      height: auto;
    }

    .get-closer_video-play {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 3.125vw;
      height: 3.125vw;
      transition: .3s;
      cursor: pointer;

      &:hover {
        transform: translate(-50%, -50%) scale(1.1);
      }
    }
  }
}

@media (width <= 900px) {
  .get-closer {
    padding: 13.333vw 0;

    .wrapper {
      gap: 5.333vw;

      h2 {
        color: #FFF;
        font-family: Manrope;
        font-size: 8.533vw;
        font-style: normal;
        font-weight: 500;
        line-height: 100%; /* 8.533vw */
        letter-spacing: -0.427vw;
        text-transform: uppercase;
        width: unset;
      }
    }

    .get-closer_content {
      flex-direction: column;
      gap: 8vw;
      justify-content: space-between;
      align-items: flex-end;

      p {
        width: 100%;
      }
    }

    .get-closer_video-container {
      width: 100%;
      height: 109.333vw;
      overflow: hidden;

      .get-closer_video-wrapper {
        width: 100%;
        height: 109.333vw;
        position: relative;
      }

      .get-closer_video-preview {
        width: 100%;
        height: auto;
      }

      .get-closer_video-play {
        width: 12vw;
        height: 12vw;
      }
    }
  }
}
