.technology_features{
  padding: 0 2.604vw;
  width: 100%;
  font-family: Manrope;
}

.main__title {
  width: 40vw;
  margin: 0;
  margin-bottom: 7.3vw;
  font-weight: 500;
  font-size: 3.54vw;
  line-height: 3.39vw;
  letter-spacing: -0.002vw;
  color: #fff;
  text-transform: uppercase;
}

.main__list_mobile {
  display: none;
}

.main__list {
  margin-bottom: 14.6vw;
}

.main__list-all {
  list-style: none;
  padding: 0;
  margin-left: auto;
}

.main__list-item {
  display: flex;
  color: #fff;
  position: relative;
  border-bottom: 0.05vw solid #404040;
  margin-bottom: 1.6vw;
}

.main__list-item:last-child {
  margin-bottom: 0;
}

.main__list-item-marker {
  display: grid;
  gap: 2.083vw;
  grid-template-columns: 21.875vw 22.917vw 13.906vw;
  align-items: flex-start;
  position: relative;
  width: fit-content;
  margin-left: auto;
  padding: 1.563vw 0;
  border-bottom: 0.052vw solid #404040;
}

.main__list-item-marker-name .circle {
  width: 0.78vw;
  height: 0.78vw;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  flex-shrink: 0;
  position: relative;
  top: 0.182vw;
  opacity: 0;
}

.main__list-item-marker-name {
  text-transform: uppercase;
  display: flex;
  gap: 0.52vw;
  font-size: 1.25vw;
  line-height: 1.12vw;
  letter-spacing: -0.07vw;
  font-weight: 500;
  align-content: center;
}

.main__list-item-description {
  margin: 0;
  text-align: justify;
  line-height: 1.08vw;
  font-size: 0.78vw;
  font-weight: 500;
  letter-spacing: -0.0015vw;
  color: #808080;
}

.main__list-item-marker-number {
  font-size: 0.94vw;
  line-height: 1.17vw;
  letter-spacing: -0.002vw;
  font-weight: 500;
  color: #404040;
  white-space: nowrap;
  margin-left: auto;
}


@media (width <= 900px) {
  .main__title {
    width: 93.6vw;
    margin-bottom: 13.3vw;
    font-size: 10.4vw;
    line-height: 10.1vw;
    letter-spacing: -0.01vw;
    color: #fff;
    text-transform: uppercase;
  }

  .main__list_mobile {
    display: block;
  }

  .main__list {
    display: none;
  }

  .main__list_mobile-item {
    display: flex;
    flex-direction: column;
    color: #fff;
    position: relative;
    border-bottom: 0.27vw solid #404040;
    margin-bottom: 5.3vw;
  }

  .main__list_mobile-item:last-child {
    margin-bottom: 0;
  }

  .main__list_mobile-item-marker {
    display: flex;
    align-items: center;
    font-size: 5.9vw;
    line-height: 5.3vw;
    letter-spacing: -0.01vw;
    font-weight: 500;
    position: relative;
  }

  .main__list_mobile-item-marker .circle {
    min-width: 3.2vw;
    min-height: 3.2vw;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2.1vw;
  }

  .main__list_mobile-item-marker-name {
    text-transform: uppercase;
    margin-right: auto;
    padding-right: 3vw;
    word-break: break-all;
  }

  .main__list_mobile-item-marker-number {
    font-size: 4.3vw;
    line-height: 5.3vw;
    letter-spacing: -0.01vw;
    font-weight: 500;
    color: #404040;
    white-space: nowrap;
  }

  .main__list_mobile-item-description {
    margin: 0;
    margin-top: 3.2vw;
    padding-bottom: 5.3vw;
    line-height: 5.6vw;
    font-size: 4vw;
    font-weight: 500;
    letter-spacing: -0.008vw;
    color: #808080;
  }
}
