@use "sass:math";

@import "config/fonts";
@import "reset";

main {
	overflow-x: hidden;
	overflow-y: clip;
	position: relative;
}

body {
	background: #000000;
	-webkit-font-smoothing: antialiased;
	color: #FFF;
}

* {
	box-sizing: border-box;
}

body:not(.loaded) {
	overflow: hidden;
}

.wrapper {
	width: 100vw;
	margin: 0 auto;
	padding: 0 2.604vw;
}

@media (width <= 900px) {
	.wrapper {
		width: 100vw;
		margin: 0 auto;
		padding: 0 3.2vw;
	}
}

@import "sections/header";
@import "sections/main_plate";
@import "sections/main_hero";
@import "sections/main_advantages";
@import "sections/main_presentation";
@import "sections/main_cta";
@import "sections/main_who-we";
@import "sections/main_get-closer";
@import "sections/main_video-popup";
@import "sections/main_partners";
@import "sections/footer";
@import "sections/components";












